/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 10, ../sass/application.scss */
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/* line 14, ../sass/application.scss */
nav ul a,
nav .brand-logo {
  color: #444;
}

/* line 19, ../sass/application.scss */
p {
  line-height: 2rem;
}

/* line 23, ../sass/application.scss */
.button-collapse {
  color: #26a69a;
}

/* line 27, ../sass/application.scss */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

/* line 34, ../sass/application.scss */
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  /* line 39, ../sass/application.scss */
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  /* line 43, ../sass/application.scss */
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 49, ../sass/application.scss */
  #index-banner .section {
    top: 0;
  }
}
/* line 54, ../sass/application.scss */
.icon-block {
  padding: 0 15px;
}

/* line 57, ../sass/application.scss */
.icon-block .material-icons {
  font-size: inherit;
}

/* line 61, ../sass/application.scss */
.lead {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 66, ../sass/application.scss */
.galleria {
  height: 320px;
}

/* line 70, ../sass/application.scss */
footer.page-footer {
  margin: 0;
}
